<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<link  rel="stylesheet" href="../static/css/960_12_col.css">
		<link rel="stylesheet" type="text/css" href="../static/css/login.css">
		
	</head>
	<body class="bg">
		<div class="back"></div>
        <div class="registration-form">
            <header>
                <h1>Sign Up Page</h1>
                <p>Do you have any account?</p>
                <p><a href="/login/registration">Login</a></p>
            </header>
            <form>
                <div class="input-section email-section">
                    <input class="email" type="email" placeholder="ENTER YOUR E-MAIL HERE" autocomplete="off"/>
                    <div class="animated-button"><span class="icon-paper-plane"><i class="fa fa-envelope-o"></i></span><span class="next-button email"><i class="fa fa-arrow-up"></i></span></div>
                </div>
                <div class="input-section password-section folded">
                    <input class="password" type="name" placeholder="ENTER YOUR NAME HERE"/>
                    <div class="animated-button"><span class="icon-lock"><i class="fa fa-lock"></i></span><span class="next-button password"><i class="fa fa-arrow-up"></i></span></div>
                </div>
                <div class="input-section repeat-password-section folded">
                    <input class="repeat-password" type="password" placeholder="ENTER YOUR PASSWORD HERE"/>
                    <div class="animated-button"><span class="icon-repeat-lock"><i class="fa fa-lock"></i></span><span class="next-button repeat-password"><i class="fa fa-paper-plane"></i></span></div>
                </div>
                <div class="success"> 
                    <p>ACCOUNT CREATED</p>
                </div>
            </form>
        </div>
        <script src="../static/js/login.js"></script>
	</body>
</html>
